body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #2c3e50;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
  }
  
  select, button {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    cursor: pointer;
    background-color: #3498db;
    color: #ffffff;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #result {
    font-size: 18px;
    color: #27ae60;
    margin-top: 15px;
  }
  
  .scale {
    margin-top: 20px;
  }
  
  .plant-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
  }
  
  .plant {
    font-size: 28px;
    color: lightgray;
    transition: color 0.3s ease;
  }
  
  .plant.green {
    color: #2ecc71;
  }
  
  .indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px auto;
    transition: background-color 0.3s ease;
  }
  
  .indicator.low { background-color: green; }       /* Bajo riesgo */
  .indicator.medium { background-color: yellow; }   /* Riesgo moderado */
  .indicator.high { background-color: red; }        /* Alto riesgo */
  
  .effects-description {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .history {
    margin-top: 30px;
  }
  
  #consumptionHistory {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    color: #333;
  }
  
  #consumptionHistory li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .timer-container {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .timer-display {
    font-size: 24px;
    font-weight: bold;
    color: #e67e22;
    margin: 10px 0;
  }
  